@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}

.start{
  height: 60px;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*  HEADER */
/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------*/
/*  Navigation */
/*-----------------------------------------------------------------------------------------------------------------*/

nav {
  width: 100%;
  position: fixed;
  background-color: white;
}

.nav_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  box-shadow: 5px 0 5px gray;
}

.nav_container a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 0 3px;
}

.nav_part1 {
  width: 55.99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.nav_part2 {
  width: 45.99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.nav_part1 {
  justify-content: space-between;
}

.nav_part2 {
  justify-content: end;
}

.nav_part2_search {
  width: 65%;
  position: relative;
}

.search_icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -10px);
}

.nav_part2_search > input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 40px;
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 5px;
}

.nav_part2_uesr_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav_part2_uesr_info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  padding: 0 25px;
}

.nav_part2_more,
.nav_part4{
  display: none;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/* MAIN */
/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------------*/
/* COMMAN STYLE  */
/*-----------------------------------------------------------------------------------------------------------------*/

.slide_btn{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  background-color: rgb(200, 200, 200);
  margin: 0 5px;
}

.heading{
  color: rgb(80, 80, 80);
  padding: 30px ;
}

.slide{
  display: flex;
  flex-direction: row;
}

.slide > img{
  width: 16.66%;
}
main div{
  margin-bottom: 50px;
}



/*-----------------------------------------------------------------------------------------------------------------*/
/* AD BANNER */
/*-----------------------------------------------------------------------------------------------------------------*/

.ad_banner{
  width: 100%;
}

.ad_banner .ad_container > img{
  width: 100%;
}

.ad_btn_selector{
  width: 100%;
  text-align: center;
}



/*-----------------------------------------------------------------------------------------------------------------*/
/* MEDAL WORTHY BRANDS TO BAG  */
/*-----------------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------------*/
/* GRAND GLOBAL BRANDS */
/*-----------------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------------*/
/* SHOP BY CATEGORY */
/*-----------------------------------------------------------------------------------------------------------------*/

.category_slide{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.category_slide > img{
  width: 200px;
  padding: 1%;
  margin: 0 15px;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/* FOOTER */
/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/

.footer_container{
  width: 90%;
  margin: auto;
}

.footer_container>div{
  margin-bottom: 50px;
}

.footer_nav{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto 30%;
}

.footer_nav_item{
  text-align: start;
}

.footer_nav_item > span{
  display: block;
  font-size: 14px;
}

.column1{
  display: flex;
  align-items: start;
  flex-direction: column;
}
.column1_item1{
  margin-bottom: 30px;
}
.column1_item1>span,
.column1_item2>span{
  display: block;
  padding: 0 0 5px 0;
  font-size: 14px;
}
.column1_item1>span>a,
.column1_item2>span>a{
  color: grey;
}
.column1_item1>span:nth-child(1)>a,
.column1_item2>span:nth-child(1)>a{
  color: #000;
  font-weight: bold;
}

.column2 > span{
  padding: 0 0 5px 0;
}
.column2>span>a{
  color: grey;
}
.column2>span:nth-child(1)>a{
  color: #000;
  font-weight: bold;
}

.column3>span{
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}
.column3>div{
  margin-bottom: 30px;
}
.column3 .mobile_links>a{
  margin-right:10px;
}
.column3 .other_plateforms>a{
  margin-right: 10px;
}
.column3 .mobile_links>a>img{
  height: 42px;
}

.column4 .column4_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}
.column4 .column4_item>img{
  margin-right: 10px;
}
.column4 .column4_item>span{
  color: grey;
}
.column4 .column4_item>span>span{
  color: black;
  font-weight: 500;
}

.most_search .most_search_title{
  position: relative;
}
.most_search > div:nth-child(1){
  margin-bottom: 30px;
}
.most_search .most_search_title>span{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 14px;
  padding-right: 10px;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  transform: translate(0,-7px);
}
.most_search .most_search_links_item{
  display: inline-block;
  height: 30px;
}
.most_search .most_search_links_item>a,
.most_search .most_search_links_item>span{
  height: 50px;
  margin-right: 5px;
  color: grey;
}
